/*@import a Google Font here!*/

body {
	background-image: url("../images/background.png");
}

#container {
	width: 100%;
	display: inline-block;
	position: relative;
}

.dashed {
	border-radius: 15px;
	border: 2px dashed #000000;
	margin: 10px;
}

.left-container {
	background-color: #FFFFFF;
	width: 250px;
	text-align: center;
	border-radius: 25px;
  border: 2px solid #000000;
	position: relative;
	display: inline-block;;
}

.right-container {
	background-color: #FFFFFF;
	width: 250px;
	text-align: center;
	border-radius: 25px;
  border: 2px solid #000000;
	float: right;
	position: relative;
	display: inline-block;;
}
h1 {
	text-align: center;
}
